<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <title>Title</title>
</head>
<body>

<h1>키보드 조타~~~~~~~~11111111~~~~~~</h1>
<button onclick="showAlert()">태진이 발작 버튼</button>


<a href="/upload">
    <button>upload로 가기</button>
</a>
<a href="/view">
    <button>view로 가기</button>
</a>


<script>
    function showAlert() {
        alert("다이소");
    }
</script>
</body>

</html>